<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Campsite</p>
            <div class="list-group">
                <li class="list-group-item active">Group 1</li>
                <li class="list-group-item">Group 2</li>
                <li class="list-group-item">Group 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div id="thumb" class="thumbnail">
                <img id="show" class="img-responsive" src="<%= post.image %>" alt="None">
                <div id="description">
                    <h4 class="pull-right">
                    <%=post.created.toDateString()%> </h4>
                    <h4><a href=""> <%= post.title %></a> </h4>
                    <p><%= post.description %></p>
                    <p><em>Submitted By <%=post.author.username %> </em></p>
                    <% if (currentUser && post.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-warning" href="/post/<%= post._id %>/edit">Edit</a>
                        <form class="form" action="/post/<%= post._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/post/<%=post._id%>/comments/new">Add new comments</a>
                </div>
                <hr>
                <% post.comments.forEach(function(comment){ %>
                    <p class="pull-right"><%=comment.created.toDateString()%></p>
                    <strong> <%=comment.author.username %> </strong>
                    <p> <%=comment.comment %> </p>
                    <% if (currentUser && comment.author.id.equals(currentUser._id)){ %>
                        <form class="form" action="/post/<%= post._id %>/comment/<%=comment.id%>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger" type="submit">Delete</button>
                        </form>
                        <a class="btn btn-xs btn-warning" href="/post/<%=post._id%>/comment/<%=comment._id %>/edit">Edit</a>
                    <% } %>
                <% }) %>

                
            </div>
        </div>
    </div>
</div> 


<% include ../partials/footer %>